<!DOCTYPE html>
<html lang="en">
  
    <%- include('../../layout/head.ejs') %>
<body>
  <%- include('../../layout/header') %>
    <main>    
        <h2 class="serch-tit">Serach by Title or Author </h2>
        <form id="search-form" action="/searches" method="POST" >
            <input type="text" name="search" placeholder="Enter  Title or Author" required>
            <fieldset class="search-feild">
                <label class="search-input"for="title">
                  <span>Title</span>
                  <input  type="radio" name="searchBy" value="title" required>
                </label>
              </fieldset>
              <fieldset class="search-feild">
                <label  class="search-input" for="authors">
                  <span>Auther</span>
                  <input type="radio" name="searchBy" value="authors" required>
                </label>
              </fieldset>
              <button id="api-butt" type="submit">Search Books</button> 
        </form>
    </main>
    <%- include('../../layout/footer') %>
</body>
</html>