
  img{
    border: 5px solid whitesmoke;
  }
 

  body{
 background-color:  #bdcebe;
  }
#error-img{
  margin-left: 40%;
}


fi
.error-page{
  align-items: center;
  margin: 2%;
}
#error-page{
  margin: 5%;
  text-align: center;
}
