/*mobile view */
@media screen  and (max-width:768px){
.main-sec{
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
}
.book-sec{
  text-align: center;

  align-items: center;
  box-shadow: 5px 10px 18px #000;
  padding: 5%;
  margin: 7%;
 background-color: #c6f5c3;
}
}

/* desktop view*/
@media screen  and (min-width:768px){
    body{
      width: 960px;
      }

.main-sec{
  display : grid;
  grid-template-columns: repeat(3,33.5%);
  grid-template-rows: repeat(3,28%);
  width: 130%;

}
.book-sec{
  box-shadow: 5px 10px 18px #000;
  text-align: center;
  justify-content: center;
  align-items: center;
 padding: 5%;
 margin: 7%;
 background-color: #c8eec5;
}
}

